#left-top-background-home {
    position: absolute;
    width: 50vw; 
    height: 56vh;
    background: linear-gradient(180deg, #0083A9 0%, #EFEFEF 100%);
    top: 0;
    left: 0;
    z-index: -2;
}

#right-top-background-home {
    background: linear-gradient(180deg, #0083A9 0%, #EFEFEF 100%);
    width: 50vw;
    height: 56vh;
    top: 0;
    left: 50%;
    z-index: -1;
    position: absolute;
    border-radius: 0px 0px 0px 3vh;
}

#left-bottom-background-home {
    background-color: white;
    width: 50vw;
    height: 50vh;
    z-index: -1;
    position: absolute;
    top: 50vh;
    left: 0;
    border-radius: 0px 3vh 0px 0px;
}

#right-bottom-background-home {
    background-color: white;
    width: 50vw;
    height: 50vh;
    z-index: -3;
    position: absolute;
    top: 50vh;
    left: 50%;
}

.navbar-box-content-home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    position: relative;
    margin: 0vw;
    padding: 1vw;
}

.navbar-home {
    position: absolute;
    width: 90vw;
    top: 5vh;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-link-home {
    color: #0083A9;
    font-weight: 600;
    text-decoration: underline 0.25vw;
    font-size: 2.5vw;
}

.center-image-home {
    position: absolute;
    width: 60vw;
    height: 20vh;
    background-image: url("../../Images/Home/Quienessomos.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 15vh;
    border-radius: 3vh;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
}

.title-box-home {
    position: relative;
    width: 30vw;
    height: 3vh;
    line-height: 3vh;
    background-color: #0083A9;
    top: 35vh;
    border-radius: 2vh;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    z-index: 2;
}

.title-home {
    text-align: center;
    color: white;
    position: relative;
    font-size: 2.8vw;
}

.description-box-home {
    position: relative;
    width: 62vw;
    height: 10vh;
    line-height: 3vh;
    background-color: white;
    top: 33vh;
    border-radius: 2vh;
    left: 50%;
    margin-right: -50%;
    z-index: 1;
    transform: translate(-50%, 0%);
}

.description-box-home p {
    text-align: center;
    color: #0083A9;
    position: relative;
    font-size: 1.5vw;
    padding: 0 7vw 0 7vw;
    line-height: 1.5vh;
    top: 2vh;
}

.logo-datamine-home {
    position: absolute;
    width: 40vw;
    height: 7vh;
    background-image: url('../../Images/Home/LOGO-DATAMINE.jpg');
    background-position: center;
    background-size: cover;
    top: 50vh;
    left: 5vw;
}